In [ ]:
import yfinance as yf

#ticker
ticker = "AAPL"  

# Fetch historical data
stock_data = yf.Ticker(ticker)
history = stock_data.history(period="1y")  #1Y period for now

# Check the currency
currency = stock_data.info['currency']

print(f"Currency of {ticker}: {currency}")
history.head()

Currency of AAPL: USD

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-04-22 00:00:00-04:00,164.742120,166.473933,163.995644,165.060608,48116400,0.0,0.0
2024-04-23 00:00:00-04:00,164.572913,166.264920,164.144925,166.115616,49537800,0.0,0.0
2024-04-24 00:00:00-04:00,165.757322,168.504360,165.428886,168.225677,48251800,0.0,0.0
2024-04-25 00:00:00-04:00,168.733275,169.808201,167.359755,169.091583,50558300,0.0,0.0
2024-04-26 00:00:00-04:00,169.081625,170.534755,168.384902,168.504349,44838400,0.0,0.0